<img src="assets/images/TRANSICAO_LG.gif" class="h-screen w-full absolute z-10 hidden md:lg:block" id="preload"/>
<img src="assets/images/TRANSICAO.gif" class="h-screen w-full absolute z-10 block md:lg:hidden" id="preload_mb"/>
<div 
    class="h-lvh bg-cover bg-center bg-no-repeat"
    style="background-image: url('assets/images/BG.png');" id="header">
    <div class="h-full flex flex-col justify-between items-center">
      <nav class="bg-transparent md:lg:self-end md:lg:mt-4 md:lg:mr-60">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          </a>
          <div class="text-3xl" style="color: white;">
            <p>{{ dateString }}</p>
          </div>
        </div>
      </nav>
      <div>
        <div class="flex flex-row justify-center">
          <img src="assets/images/letreiro.png" class="size-3/4 p-3 md:size-auto lg:size-auto"/>
        </div>
      </div>
      <div class="hidden relative h-1/2 md:lg:block">      
        <div class="flex flex-row h-full justify-center">
          <img src="assets/images/CAPA5.png" class="h-full p-0"/>
          <p class="centered text-center mt-10 md:text-6xl lg:text-5xl " style="color: white;">O aplicativo social para amantes de cerveja.</p>
        </div>
      </div>    
      <div class="block relative h-1/2 md:lg:hidden">      
        <div class="flex flex-row h-full justify-center">
          <img src="assets/images/JANELA3.png" class="h-full p-0"/>
          <p class="centered text-5xl text-center mt-10" style="color: white;">O aplicativo social para amantes de cerveja.</p>
        </div>
      </div>
    </div>
</div>
<footer class="bg-white mb-6">
  <img src="assets/images/footerGIF.gif" class="h-1/2"/>
  <div class="w-full max-w-screen-xl mx-auto">
      <div class="text-center">
          <p class="text-gray-400">O cantim das opniões</p>
          <p class="text-gray-400">sobre as <span class="text-gray-400"><b>cervejas!</b></span></p>
      </div>
      <hr class="my-6 mx-auto" />
      <div class="text-gray-400 text-center mb-4">
        <a href="https://www.instagram.com/cervejo_br" class="mx-2" title="Instagram"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
        <a href="https://www.threads.net/@cervejo_br" class="mx-2" title="Threads"><i class="fa-brands fa-square-threads fa-lg"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61557278581065&locale=pt_BR" class="mx-2" title="Facebook"><i class="fa-brands fa-facebook fa-lg"></i></a>
        <a href="https://twitter.com/cervejo_br" class="mx-2" title="X"><i class="fa-brands fa-square-x-twitter fa-lg"></i></a>  
      </div>
      <span class="block text-gray-400 text-center text-sm">© {{currentYear}} Cervejô. Todos os direitos reservados.</span>
  </div>
</footer>